<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>home</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <form th:action="@{/custom}" th:object="${product}" method="post">
	    Number of units <input type="text" th:name="units" th:field="*{amount}" />
	    Product <select th:name="products"  th:field="*{id}">
	    			<option value="0" selected disabled hidden>Choose here</option>
			        <option value=1 th:selected="${id==1}">Penguin-ears</option>
			        <option value=2 th:selected="${id==2}">Horseshoe</option>
	    		</select>
	    <button type="submit" th:name="action" th:value="amt">Calculate</button>
	</form>
	
	Amount <input type="text"  th:value="${total}" readonly><br><br>
	

</body>
</html>